<form>
  <div class="form-group">
    <label for="inputRecipeName">Racipe Name</label>
    <input type="text" class="form-control" id="inputRecipeName" >
  </div>
  <div class="form-group">
    <label for="inputRecipeDes">Recipe Description</label>
    <input type="password" class="form-control" id="inputRecipeDes">
  </div>
  <div class="form-group">
    <label for="inputRecipeImage">Recipe ImageURl</label>
    <input type="password" class="form-control" id="inputRecipeImage">
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>